/* This file is linked to index.css */
.app {
    width: 100vw;
}

.session-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.session-form-div {
    display: block;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: solid 1px #d6d6d6;
    position: relative;
}

.navbar > h1 {
    text-transform: uppercase;
    margin: 20px 25px 20px 25px;
}

.hyperlink-div {
    margin: 20px 25px 20px 25px;
}

.hyperlink {
    margin: 0px 10px 0px 10px;
    color: #1c1c1c;
    font-size: 16px;
    text-decoration-line: none;
}

.hyperlink:hover {
    color: #0000EE;
}

.image {
    max-width: 90vw;
}

.all-posts > h2 {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 27px;
}
