/* This file is linked to index.css */
.app {
    width: 75vw;
    margin: auto;
}

.session-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.session-form-div {
    display: block;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(255, 255, 255);
    border-bottom: solid 1px #2b2b2b;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar > h1 {
    text-transform: uppercase;
    margin: 20px 25px 20px 25px;
}

.hyperlink-div {
    margin: 20px 25px 20px 25px;
}

.hyperlink {
    margin: 0px 10px 0px 10px;
    color: #1c1c1c;
    font-size: .9rem;
    text-decoration-line: none;
}

.hyperlink:hover {
    color: #0000EE;
}

.image {
    max-width: 90%;
}

.all-posts > h2 {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 27px;
}

.all-posts-div {
}

.post-box {
}

