/* This file is linked to index.html */

@import "./css/reset.css";
@import "./css/class_names.css";
@import "./css/id_names.css";
@import "./css/modal.css";

* {
 box-sizing: border-box;
 border: solid red;
 border-width: 0 1px;
}
*:before,
*:after {
 box-sizing: border-box;
}

body {
    font-family: acumin-pro, sans-serif;
    font-size: .9rem;
    line-height: 140%;
    color: rgb(56, 56, 56);
    background-color: #fff;
    height: 100%;
    position: relative;
}

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-weight: bold;
}

h3.user {
  font-weight: bold;
}

a {
  color: #0000EE;
  text-decoration-line: none;
}

.post-box-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px 0 20px 0;
    position: relative;
    border-bottom: solid 1px lightgrey;
}

.post-box-div h2 {
    font-weight: bold;
    padding: 12px 0;
    position: relative;
}

.post-box-div h3 {
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 0 30px;
  position: relative;
  bottom: 0;
  overflow: hidden;
}

footer p {
  padding: 4px 0;
}

.column-left {
  margin: 20px 0 0 0;
  width: 40%;
}

.column-right {
  margin: 20px 0 0 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

i {
  margin: 12px 0 0 0;
  padding: 0 12px 0 0;
}

input[type=email] {
  border: 1px solid black;
  padding: 8px 12px;
  margin: 4px 0;
  width: 100%;
  box-sizing: border-box;
}

input[type=email]:focus {
  border: 1px solid #0000EE;
}

button {
    background-color: white;
    border: solid 1px;
    border-color: #0000ff;
    display: inline;
    cursor: pointer;
    color: #0000ff;
    padding: 8px 12px;
    text-decoration: none;
}

button:hover {
  background-color: #0000ff;
  color: white;
}

button:active {
	position:relative;
	top: 1px;
}

.newsletter-button {
  padding: 10px 0;
}

.info {
  padding: 10px 0 0;
}


@media only screen and (max-width: 600px) {
  .app {
    width: 95vw;
    overflow: scroll;
  }

  body {
    font-size: 1rem;
  }

  .navbar {
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
  }

}


.paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}


.pagination-div {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination li :first-child{
  display: inline-block;
  margin: auto;
  cursor: pointer;
}
