/* This file is linked to index.html */

@import "./css/reset.css";
@import "./css/class_names.css";

body {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c1c1c;
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-weight: bold;
}
