/* This file is linked to index.html */

@import "./css/reset.css";
@import "./css/class_names.css";
@import "./css/id_names.css";

body {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .9rem;
    line-height: 140%;
    color: #2b2b2b;
    background-color: #fff;
    min-height: 100vh;
}

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-weight: bold;
}

h3.user {
  font-weight:;
}

.date {
  color: #a1a1a1;
}

.user {
}

.post-box-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #2b2b2b;
    margin: auto;
    padding: 50px 0;
    position: relative;
}

.post-box-div h2 {
    font-weight: bold;
    padding: 25px 0 15px;
}

.post-box-div h3 {
    padding: 10px 0;
    max-width: 90vw;
}

.post-box-div img {
    padding: 20px 0;
}
